.about-page {
    .about-title {
    text-align: center;
    margin: 2rem auto;

    h1 {
        color: #f0b90b;
        font-weight: bold;
        font-size: 24px;
        text-transform: uppercase;
    }

    h5 {
        font-style: italic;
        padding: 12px;
    }

    
}


}

