/* App.css */

/* Global variables */
:root {
  --font-anuphan: "Anuphan", sans-serif;
  --font-display: "Clash Display", sans-serif;
  --font-grotesk: "Clash Grotesk", sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1600px;        /* ⬅ wider than 1200px */
  margin: 0 auto;
  padding: 0 2rem;   
}

.section {
  padding: 80px 0;
}

.signature-font {
  font-family: 'Parisienne', cursive;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.5px;
  font-size: 2rem;
}

.signature-font-highlight {
    font-family: 'Parisienne', cursive;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.5px;
  font-size: 2rem;
  color: #f0b90b;
}

